<div class="container theme-showcase">
  <div class="jumbotron">
    <fieldset class="form-group">
      <%= text_field_tag :name, nil, :placeholder => "Playlist title", :required => 'true', :class => "form-control" %>
    </fieldset>
    <fieldset class="form-group">
      <%= submit_tag "Create Playlist", :class => "button", :class => "btn btn-default"  %>
    </fieldset>
</div>
</div>
