<div class="container">
  <div class="jumbotron">
    <div class="container-fluid">
      <% if @current_user.present? %>
        <h1> Hi There, <%= @current_user.name %></h1>
        <br/>
        <ul>
            <li><h4><i class="fa fa-play" aria-hidden="true"></i></i> Search and play </h4></li>
            <hr/>
            <li><h4><i class="fa fa-play" aria-hidden="true"></i></i> Stream 40 sec ad-free music and for full music you can simply listen from Spotify</h4></li>
            <hr/>
            <li><h4> <i class="fa fa-play" aria-hidden="true"></i></i> Audio visualisation by clicking on the window while listening to music</h4></li>
            <hr/>
            <li><h4><i class="fa fa-play" aria-hidden="true"></i></i> Create All your favourite albums</h4></li>
            <hr/>
            <li><h4> <i class="fa fa-play" aria-hidden="true"></i></i> Easy to use</h4></li>


        </ul>
      <% else %>
        <h4><span class="green"><strong>ChillOut</strong></span> is a digital music service that gives you access to millions of songs</h4>
        <br/ >

        <h5><%= link_to 'Sign Up', new_user_path, :class => 'green'%> for free today</h5>
      <% end %>
    </div>
  </div>
</div>
