.delete-icon {
  width: 5%;
  height: 5%;
  float: right;
}

.delete-icon-library {
    width: 5%;
    height: 5%;
  
}


h5 {
  color: white;
}


.track-name {
  padding-top: 10px;
  color: #c2c2c2;
}
