@import url('https://fonts.googleapis.com/css?family=Catamaran|Poiret+One');


$green: #88c057;

@mixin body-background {
  background-image: url('head-speakers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 110px;
}


body {
  @include body-background;
  // background-position: center center;
  background-position: right bottom;
  font-family: 'Catamaran', sans-serif;

}
.jumbotron {
  margin-top:150px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  max-width: 700px;
  // float: right;
}

img.logo {
  height: 100px;
  width: 120px;
  padding: 0;
  margin: 0;

}


ul {
  padding-left: 0;
}

li {
  list-style: none;

}

.fa {
  margin-right: 16px;
  color: $green;
}


.nav > li {
  margin-top: 33px;
}




.artist-img {
  width: 88%;
  height: 88%;
  margin: 0 auto;
}

.track-container {
  margin-top: 40px;
}

.this_is_draggable {
  margin-top: 30px;
}



.playlist {
  width: 100%;
  background-color: black;
  .spotify-icon {
    width: 40px;
    margin-bottom: 22px;
  }
}


.add-to-playlist-button {
  margin-bottom: 30px;
}


.green {
  color: $green;
}

@media (max-width: 500px) {


  .container-fluid > h1 {
    text-align: center;
  }

  h3 {

    font-size: 13px;
    text-align: center;
  }


  .jumbotron {
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 100px;
    max-width: 650px;
  }

  img.logo {
    height: 50px;
    width: 80px;
    margin-left: 20px;
  }

  .nav > li {
    margin-top: 0;
  }
}





@media (max-width: 767px){

  img {
    height: 50px;
    width: 50px;
  }

  img.logo {
    height: 50px;
    width: 80px;
    margin-left: 20px;
  }

  body {
    @include body-background;
    background-position: center center;

  }

}


@media (max-width: 987px){

  body {
    @include body-background;
    background-position: center center;

  }

}
