// .container{
//   margin-top: 200px;
// }

body {
  // background-image: url('abstract.jpg');
  background-image: url('head-speakers.jpg');
  background-repeat: no-repeat;
  // background-position: center center;
  background-position: right bottom;
  background-attachment: fixed;
}
.jumbotron {
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  max-width: 700px;
  // float: right;
}

img {
  height: 100px;
  width: 120px;
  padding: 0;
  margin: 0;

}

li {
  list-style: none;

}


.nav > li {
  margin-top: 33px;
}




@media (max-width: 500px) {
  // .jumbotron > h1 {
  //   color: white;
  // }

  .container-fluid > h1 {
    text-align: center;
  }

  h3 {

    font-size: 13px;
    text-align: center;
  }

  .jumbotron {
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 100px;

    max-width: 650px;
  }

  img {
    height: 50px;
    width: 80px;
    margin-left: 20px;
  }

  .nav > li {
    margin-top: 0;
  }
}





@media (max-width: 767px){

  img {
    height: 50px;
    width: 80px;
    margin-left: 20px;
  }

  body {
    // background-image: url('abstract.jpg');
    background-image: url('head-speakers.jpg');
    background-repeat: no-repeat;
    background-position: center center;

    // background-position: right bottom;
    background-attachment: fixed;
  }



}
