<div class="container theme-showcase">
  <div class="jumbotron">
       <%= @playlist.name %>
  </div>
   <ul>
      <% @playlist.songs.each do |song|%>

         <li><%= song.name %></li>

      <% end %>
  </ul>

</div>
